body {
  background: rgba(56, 102, 121, 0.701);
  width: 100%;
}

.header {
  background: #f2f2f2;
  width: 100%;
  display: flex;
  flex-flow: wrap;
  align-content: center;
  top: 0;
}

.navbar {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.nav-brand {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 25px;
}

.navbar-right {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 200px;
  font-size: 25px;
}

.navbar-right li {
  list-style: none;
}

article {
  width: 100%;
  z-index: -1;
  position: relative;
}

.about-caption {
  font-family: "Work Sans", "Helvetica Neue", Arial, Helvetica, sans-serif;
  position: absolute;
  top: 0;
  padding: 12px;
  text-align: center;
}

.about-caption h1 {
  font-size: 3.75rem;
  line-height: 1;
  font-weight: 100;
  margin: 0 0 10px;
}

.about-caption p {
  font-size: 1.5rem;
  font-weight: 300;
}

.featured-work {
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

.featured-work__image {
  height: 100%;
  border-radius: 20px;
}

img {
  width: 100%;
}

.contact {
  width: 100%;
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
  position: relative;
  background: #f2f2f2;
}

.contact a {
  text-decoration: none;
  color: black;
}
