body {
  background: #fff;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
p,
li {
  font-family: "Work Sans", "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.header {
  background: #f2f2f2;
  width: 100%;
  height: 70px;
  display: flex;
  flex-flow: wrap;
  z-index: 1;
  align-items: center;
}

.navbar {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.nav-brand h2 {
  display: none;
}

.nav-brand {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 2rem;
  text-decoration: none;
  color: #000;
}

.navbar-logo {
  width: 150px;
  height: 120px;
}

.navbar-right {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 200px;
  font-size: 25px;
}

.navbar-right li {
  list-style: none;
}

main {
  width: 100%;
  position: relative;
  margin-bottom: 20px;
}

.about-caption {
  text-align: center;
}

.about-caption h2 {
  font-size: 3.75rem;
  font-weight: 300;
  line-height: 1;
  margin: 0 0 10px;
}

.about-caption p {
  font-size: 1.5rem;
  font-weight: 300;
}

.featured-work {
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

.featured-work__header {
  display: none;
}

.featured-work__image {
  height: 100%;
  border-radius: 20px;
}

img {
  width: 100%;
}

.project-link {
  display: flex;
  justify-content: center;
  margin-top: 10%;
  color: white;
  text-decoration: none;
}

.contact {
  width: 100%;
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
  position: relative;
  background: #f2f2f2;
}

.contact a {
  text-decoration: none;
  color: black;
}
/* overlay */
.container {
  position: relative;
  margin: 0 20px 20px;
  width: 320px;
  height: 250px;
}

.image {
  display: block;
  width: 100%;
  height: 100%;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #000;
  border-radius: 20px;
}

.container:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 2.25rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  margin: 20px 0;
}
