@media screen and (min-width: 601px) and (max-width: 768px) {
  header {
    height: 60px;
  }

  .nav-brand {
    font-size: 25px;
    width: 275px;
  }

  .navbar-right {
    width: 275px;;
    font-size: 25px;
  }
}

@media screen and (max-width: 600px) {
  main {
    flex-flow: column wrap;
  }

  article {
    top: 50px;
  }

  /* header */
  .header {
    height: 50px;
  }

  /* navbar */
  .nav-brand {
    width: 150px;
    padding: 20px;
  }

  .navbar-right li {
    padding: 20px;
  }

  /* about */
  .about {
    height: 300px;
  }

  .about-card {
    height: 100%;
  }

  .about-caption h1 {
    font-size: 3.75rem;
    line-height: 1;
    font-weight: 100;
    margin: 0 0 10px;
  }

  .about-caption p {
    font-size: 1.5rem;
    font-weight: 300;
  }

  .about__background {
    opacity: 0;
  }

  /* featured work */
  .featured-work a {
    height: 300px;
    margin: 0px 30px 30px;
  }

  /* footer */
  .contact {
    width: 100%;
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    position: relative;
    bottom: -50px;
  }

  .contact a {
    padding: 40px;
  }
}

@media screen and (max-width: 390px) {
  .header {
    display: flex;
    height: 200px;
    align-items: flex-start;
  }

  .navbar {
    flex-flow: column wrap;
  }

  .navbar-right {
    flex-flow: column;
    align-items: center;
  }

  article {
    padding-top: 30px;
    top: 200px;
  }

  .about {
    display: none;
  }

  .featured-work a {
    height: 250px;
  }

  .contact {
    bottom: -200px;
  }
}
