@media screen and (max-width: 450px) {
  .header {
    padding: 20px;
    flex-flow: column;
    align-items: center;
  }

  .header__image {
    margin: 5px;
  }

  .header__info {
    margin: 5px;
  }

  .about {
    display: none;
  }
}
