@media screen and (max-width: 450px) {
  main {
    flex-flow: column wrap;
  }

  article {
    z-index: -1;
    position: relative;
    top: 50px;
    padding: 20px 30px;
  }

  /* header */
  .header {
    height: 50px;
    width: 100%;
    display: flex;
    flex-flow: wrap;
    align-content: center;
    position: fixed;
    top: 0;
    background: #fff;
  }

  /* navbar */
  .navbar {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .nav-brand {
    width: 150px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .navbar-right {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 200px;
  }

  .navbar-right li {
    list-style: none;
    padding: 20px;
  }

  /* about */
  .about__background {
    width: 100%;
  }

  /* featured work */
  .featured-work {
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
  }

  .featured-work a {
    height: 300px;
    margin: 15px 0;
  }

  .featured-work__image {
    width: 100%;
    height: 100%;
  }

  /* footer */
  .contact {
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    position: relative;
    bottom: -50px;
  }

  .contact a {
    padding: 40px;
  }
}
